* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 50px;
}

.shell {
    max-width: 750px;
    background: white;
    margin: 0px auto 0px;
    border-radius: 0px;
    padding: 38px;
    margin-top: 50px;
}

.section__title {
    color: rgb(34, 24, 97);
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
}


.fname {
    font-size: 40px;
    margin-bottom: 5px;
}

.fname {
    font-weight: 500;
    color: rgb(34, 24, 97);
}

.contact-info {
    margin-bottom: 4px;
}

.email,
.phone {
    color: black;
    font-weight: 300;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid black;
    margin: 0px 10px;
}

.position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
}

.right {
    vertical-align: top;
    display: inline-block;
    text-align: right;
    width: 39%;
}

.left {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}

.current {
    font-weight: bold;
    color: rgb(34, 24, 97);
    display: inline-block;
    margin-top: -8px;
    margin-right: 10px;
}

.nameofdegree,
.jobtitle,
.skills {
    font-weight: bold;
}

p {
    margin-left: -20px;
    display: list-item;
    margin-left: 1em;
}